<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/x-icon" href="/src/views/img/icono.ico">
  <title>REGISTRAR USUARIO</title>

  <!-- Custom fonts for this template-->
  <link href="/src/boostrapdiseñoadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/src/boostrapdiseñoadmin/css/sb-admin-2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/src/views/css/registrar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../plantilla/listamodulos') %>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <%- include('../plantilla/navbar') %>
            <!-- End of Topbar -->

            <!-- ACA DEBEMOS COPIAR LAS TABLAS O REGISTROS PARTE BLANCA -->
            <div class="container-fluid">
              <form id="myForm">
                <h2 style="text-align: center;">REGISTRAR USUARIO</h2>
                <label for="dni">DNI:</label>
                <input type="text" placeholder="Ingrese su DNI" id="dni" oninput="limitarADigitos(this, 8)"
                  pattern="[0-9]*">

                <label for="nombre">Nombre:</label>
                <input type="text" placeholder="Ingrese su nombre" id="nombre" oninput="validarYConvertir(this)">

                <label for="correo">Correo:</label>
                <input type="text" placeholder="Ingrese su correo" id="correo">

                <label for="password">Contraseña:</label>
                <input type="password" placeholder="Ingrese su contraseña" id="password">

                <label for="idperfil">Perfil:</label>
                <select id="idperfil">
                  <option value="1">ADMIN</option>
                  <option value="2">CAJERO</option>
                  <option value="3">SUPERVISOR</option>
                  <option value="4">GERENTE</option>
                </select>

                <!-- Agregamos un div para centrar el botón horizontalmente y espacio entre el input "Admin" y el botón -->
                <div style="text-align: center; margin-top: 10px;">
                  <button type="button" onclick="postData()">REGISTRAR</button>
                </div>
              </form>

              <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

              <script>
                function postData() {
                  // Obtener los valores de los campos de entrada
                  const dni = document.getElementById('dni').value;
                  const nombre = document.getElementById('nombre').value;
                  const correo = document.getElementById('correo').value;
                  const password = document.getElementById('password').value;
                  const idperfil = document.getElementById('idperfil').value;

                  // Crear un objeto de datos con los valores para usar en los controolers
                  const data = {
                    dni: dni,
                    nombre: nombre,
                    correo: correo,
                    password: password,
                    idperfil: idperfil
                  };

                  // Enviar una solicitud POST a la ruta "clientes" utilizando Axios
                  axios.post('/admin/reguser', data)
                    .then(function (response) {
                      // Mostrar un mensaje de éxito con SweetAlert
                      Swal.fire({
                        icon: 'success',
                        title: 'Registro exitoso',
                        text: 'El registro se realizó correctamente.',
                        timer: 2000, // Cambia la duración del mensaje si lo deseas
                        showConfirmButton: false // Oculta el botón "OK"
                      });

                      // Redirigir al usuario después de 2 segundos (2000 ms)
                      setTimeout(function () {
                        window.location.href = '/admin/reguser';
                      }, 2000);
                    })
                    .catch(function (error) {
                      // Manejar errores aquí
                      Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'EL DNI O CORREO YA EXISTE.',
                        timer: 2000, // Cambia la duración del mensaje si lo deseas
                        showConfirmButton: false // Oculta el botón "OK"
                      });
                    });
                }


                //PARA LIMITAR A 7 NUMEROS
                function limitarADigitos(input, maxDigitos) {
                  // Elimina cualquier carácter no numérico
                  input.value = input.value.replace(/[^0-9]/g, '');

                  // Limita la longitud a maxDigitos
                  if (input.value.length > maxDigitos) {
                    input.value = input.value.slice(0, maxDigitos);
                  }
                }


                //PARA HACER QUE SEA PURA MAYUSCULA Y SIN NUMEROS
                function validarYConvertir(input) {
                  // Expresión regular que acepta solo letras y espacios
                  var regex = /^[A-Za-z\s]+$/;

                  if (!regex.test(input.value)) {
                    // Si el valor no cumple con la expresión regular, elimina los caracteres no permitidos
                    input.value = input.value.replace(/[^A-Za-z\s]+/, '');
                  }

                  // Convierte a mayúsculas
                  input.value = input.value.toUpperCase();
                }



              </script>
            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
          crossorigin="anonymous"></script>


        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; UNSM 2023</span>
            </div>
          </div>
        </footer>
      </div>
      <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->

  <!-- Footer -->

  <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/src/boostrapdiseñoadmin/vendor/jquery/jquery.min.js"></script>
  <script src="/src/boostrapdiseñoadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/src/boostrapdiseñoadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/src/boostrapdiseñoadmin/js/sb-admin-2.min.js"></script>

</body>

</html>