<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/views/css/registrar.css">
    <title>Document</title>
</head>
<body>
    <form id="myForm">
        <h2>Registrar Usuario</h2>
        <label for="dni">DNI:</label>
        <input type="text" placeholder="Ingrese su DNI" id="dni">
        
        <label for="nombre">Nombre:</label>
        <input type="text" placeholder="Ingrese su nombre" id="nombre">
        
        <label for="correo">Correo:</label>
        <input type="text" placeholder="Ingrese su correo" id="correo">
        
        <label for="password">Contraseña:</label>
        <input type="password" placeholder="Ingrese su contraseña" id="password">
        
        <label for="idperfil">Perfil:</label>
        <select id="idperfil">
            <option value="1">ADMIN</option>
            <option value="2">CAJERO</option>
            <option value="3">SUPERVISOR</option>
            <option value="4">GERENTE</option>
        </select>
        
        <button type="button" onclick="postData()">REGISTRAR</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

    <script>
        function postData() {
            // Obtener los valores de los campos de entrada
            const dni = document.getElementById('dni').value;
            const nombre = document.getElementById('nombre').value;
            const correo = document.getElementById('correo').value;
            const password = document.getElementById('password').value;
            const idperfil = document.getElementById('idperfil').value;
    
            // Crear un objeto de datos con los valores para usar en los controolers
            const data = {
                dni: dni,
                nombre: nombre,
                correo: correo,
                password: password,
                idperfil: idperfil
            };
    
            // Enviar una solicitud POST a la ruta "clientes" utilizando Axios
            axios.post('/registro', data)
                .then(function (response) {
                    // Mostrar un mensaje de éxito con SweetAlert
                    Swal.fire({
                        icon: 'success',
                        title: 'Registro exitoso',
                        text: 'El registro se realizó correctamente.',
                        timer: 2000, // Cambia la duración del mensaje si lo deseas
                        showConfirmButton: false // Oculta el botón "OK"
                    });
    
                    // Redirigir al usuario después de 2 segundos (2000 ms)
                    setTimeout(function () {
                        window.location.href = '/';
                    }, 2000);
                })
                .catch(function (error) {
                    // Manejar errores aquí
                    console.error(error);
                });
        }
    </script>
    
</body>
</html>