<ul class="navbar-nav sidebar sidebar-dark accordion" style="background-color: rgb(230, 132, 20);" id="accordionSidebar">

    <!-- Sidebar - Brand -->

        
        <div style="display: flex; gap: 30px; flex-direction: column;">
            <div class="sidebar-brand-icon rotate-n-15" style="display: flex; justify-content: center; align-items: center; margin-top: 16px">
                <a href="/admin"><img style="width: 100px;" src="https://www.gifsanimados.org/data/media/532/pollo-imagen-animada-0166.gif" alt="pollo-imagen-animada-0166" /></a>
            </div>
            <div class="sidebar-brand-text mx-3"><span style="color: white; font-size: 20px;">GRANJA CHOLON</span> </div>
        </div>
    
    <!-- Divider -->
    <hr class="sidebar-divider my-0"> 
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        MODULOS
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#seguridad"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa-sharp fa-solid fa-shield-halved fa-beat-fade" style="color: white; font-size: 20px;"></i>
            <span>SEGURIDAD</span>
        </a>
        <div id="seguridad" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Vistas:</h6>
                <a class="collapse-item" href="/admin/perfiles">Perfiles</a>
                <a class="collapse-item" href="/admin/usuarios">Usuarios</a>
                <a class="collapse-item" href="/admin/reguser">Registrar Usuarios</a>
                <a class="collapse-item" href="/admin/password">Cambiar contraseña</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#lotes"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa-solid fa-layer-group fa-beat-fade" style="color: white;font-size: 20px;"></i>
            <span>LOTES</span>
        </a>
        <div id="lotes" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Vistas:</h6>
                <a class="collapse-item" href="/admin/galpon">Galpones</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#compras"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa-solid fa-cart-shopping fa-beat-fade" style="color: white; font-size: 20px;"></i>
            <span>COMPRAS</span>
        </a>
        <div id="compras" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Vistas:</h6>
                <a class="collapse-item" href="/admin/proveedores">Proveedores</a>
                <a class="collapse-item" href="/admin/regcompras">Compras</a>
                <a class="collapse-item" href="/admin/vistacompra">Visualizar Compras</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#almacen"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa-brands fa-dropbox fa-beat-fade" style="color: white; font-size: 20px;"></i>
            <span>ALMACEN</span>
        </a>
        <div id="almacen" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Vistas:</h6>
                <a class="collapse-item" href="/admin/producto">Productos</a>
                <a class="collapse-item" href="/admin/categoria">Categoria</a>
                <a class="collapse-item" href="/admin/unidad">Unidad</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#ventas"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa-solid fa-sack-dollar fa-beat-fade" style="color: white; font-size: 20px;"></i>
            <span>VENTAS</span>
        </a>
        <div id="ventas" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Vistas:</h6>
                <a class="collapse-item" href="/clientes">Clientes</a>
                <a class="collapse-item" href="/admin/usuarios">Usuarios</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#reportes"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa-solid fa-chart-simple fa-beat-fade" style="color: white; font-size: 20px;"></i>
            <span>REPORTES</span>
        </a>
        <div id="reportes" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Vistas:</h6>
                <a class="collapse-item" href="/admin/perfiles">Perfiles</a>
                <a class="collapse-item" href="/admin/usuarios">Usuarios</a>
                <a class="collapse-item" href="/admin/reguser">Registrar Usuarios</a>
                <a class="collapse-item" href="/admin/password">Cambiar contraseña</a>
            </div>
        </div>
    </li>



    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>